<%= javascript_pack_tag 'user' %>

<%= 
  # button_to "Populate Users!" 
%>

<table id="users-datatable" data-source="<%= users_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Avatar</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= 
  link_to "Create A New User", new_user_path(@user)
%>
